@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #26a7a7c4;
    font: normal 15pt Arial;
}
header{
    color: #fff;
    text-align: center;
    margin: 20px 0;
}
section{
    text-align: center;
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.500);
}
div{
    margin: 20px 0;
}
div#input-values-content p{
    margin: 10px;
    font-weight: bold;
}
div#input-values-content p label{
    display: block;
}
div#input-values-content p.input-numbers input{
    height: 25px;
    border-radius: 5px;
}
div#input-values-content p#btn input{
    padding: 5px;
    width: 36%;
    background-color: #26a7a7c4;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
}
div#input-values-content p#btn input:hover{
    background-color: #26a7a7;
    cursor: pointer;
}
footer{
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
footer a{
    color: #fff;
}
footer p{
    margin-bottom: 5px;
}
footer a:hover{
    color: #dbdbdb;
    text-decoration: underline;
}